.gray-box {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    border-color: rgba(0, 0, 0, .14);
    box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .1);
  }

  .title {
    padding-left: 30px;
    position: relative;
    z-index: 0;
    height: 60px;
    padding: 10px 10px 0 24px;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 8px 8px 0 0;
    box-shadow: rgba(0, 0, 0, .06) 0 1px 7px;
    background: #f3f3f3;
    background: -webkit-linear-gradient(#fbfbfb, #ececec);
    background: linear-gradient(#fbfbfb, #ececec);
    line-height: 60px;
    font-size: 18px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    font-size: 18px;
    font-weight: 400;
    color: #626262;
    display: inline-block;
  }

  .order-info {
    padding: 60px 0 60px;
    color: #333;
    background: #fff !important;
  }

  h3 {
    padding-bottom: 14px;
    line-height: 36px;
    text-align: center;
    font-size: 36px;
    color: #212121;
  }
      
  .payment-detail {
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    color: #999;
  }

  .box-inner {
    line-height: 60px;
    background: #f9f9f9;
    border-top: 1px solid #e5e5e5;
    box-sizing: border-box;
    
  }

  .box-inner > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5px;
  }

  .box-inner em {
    margin-left: 5px;
    font-size: 24px;
    color: #d44d44;
    font-weight: 700;
    margin-right: 20px;
    font-style: normal;
  }

  .box-inner span {
    margin-right: 4px;
    font-size: 16px;
  }

  .main-btn {
    display: inline-block;
    cursor: pointer;
    text-align: center;

    width: 120px;
    height: 40px;
    font-size: 16px;
    line-height: 38px;

    background-color: #5c81e3;
    background-image: linear-gradient(180deg, #678ee7, #5078df);

    border: 1px solid #5c81e3;
    border-radius: 4px;
    color: #fff;
  }

  .main-btn:hover {
    background-color: #6c8cd4;
    background-image: -webkit-linear-gradient(top, #6c8cd4, #4769c2);
    background-image: linear-gradient(180deg, #6c8cd4, #4769c2);
  }

  .disabled-btn {
    display: inline-block;
    cursor: not-allowed;
    text-align: center;

    width: 120px;
    height: 40px;
    font-size: 16px;
    line-height: 38px;

    border: 1px solid #afafaf;
    border-radius: 4px;
    color: #fff;
    
    background-color:#afafaf;
    background-image: -webkit-linear-gradient(top, #b8b8b8, #a9a9a9);
    background-image: linear-gradient(180deg, #b8b8b8, #a9a9a9);
  }

  .pay-info{
    overflow: hidden;
    margin: 2vw 0vw 0 21vw;
  }

.form-group .control-label {
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}

.red-txt{
  color: red;
}

.payment-money {
  text-align: center;
  font-size: 30px;
  color: #d44d44;
  font-weight: 700;
}

.img-box{
  position: relative;
  width: 180px;
  height: auto;
  min-height: 168px;
  margin: 0 auto;
  padding: 6px;
  border: 1px solid #d3d3d3;
  box-shadow: 1px 1px 1px #ccc;
  display: inline-block;
}

img {
  max-width: 180px;
}

.img-box{
  position: relative;
  width: 180px;
  height: auto;
  min-height: 168px;
  margin: 0 auto;
  padding: 6px;
  border: 1px solid #d3d3d3;
  box-shadow: 1px 1px 1px #ccc;
  display: inline-block;
}

.explain {
  margin: 0 auto;
  display: flex;
  width: 180px;
  margin-top: 18px;
  margin-bottom: 0px;
}

.pic{
  margin-top: 3px;
}

.wechat{
  margin: 0 auto;
  display: flex;
  margin-top: -40px;
  width: 220px;
}

.fn-left{
  margin: -14px -23px 5px 8px;
}

.fn-right{
  font-size: 13px;
  color: #4D4D4D;
  line-height: 18px;
  margin: -15px 0 0 40px;
}

.count {
  display: flex;
  position: absolute;
  text-align: center;
  width: 230px;
  flex-direction: column;
  align-items: center;
  margin-left: calc(50% - 115px);
  margin-top: 0px;
  color: #222;
}