<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>操作成功</title>
        <meta name="description" content="XPay个人收款支付系统 无需签约 无需第三方SDK 完全免费">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .main{
                margin-top: 40px;
                text-align: center;
            }
        </style>
    </head>

    <body>
        <div class="main">
            <table align="center" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="20"></td>
                </tr>
                <!-- content -->
                <tr>
                    <td style="font-size:13px; color:#7f8c8d; line-height:26px;" align="center">
                        <img src="https://i.loli.net/2018/07/18/5b4f12fb00713.png" width="50">
                    </td>
                </tr>
                <tr>
                    <td style="font-size:13px; color:#7f8c8d; line-height:26px;" align="center">
                        恭喜您，支付成功！
                    </td>
                </tr>
                <tr>
                    <td style="font-size:13px; color:#7f8c8d; line-height:26px;" align="center">
                        昵称：<span th:text="${nickName}"></span>，
                        支付金额：<span th:text="${money}"></span>，
                        支付方式：<span th:text="${payType}"></span>，
                        留言：<span th:text="${info}"></span>，
                        创建时间：<span th:text="${time}"></span>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:13px; color:#7f8c8d; line-height:26px;" align="center">
                        <div class="text">但由于您支付过少或仅为测试功能等原因，无法将您的数据加入至捐赠表，抱歉！</div>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:13px; color:#7f8c8d; line-height:26px;" align="center">
                        Powered By <a href="https://github.com/Exrick/xpay">XPay v2.0</a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
