<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>操作成功</title>
        <meta name="description" content="XPay个人收款支付系统 无需签约 无需第三方SDK 完全免费">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .main{
                margin-top: 40px;
                text-align: center;
            }
            .text{
                margin-top: 10px;
            }
        </style>
    </head>

    <body>
        
            <div class="main">
                <img src="http://oweupqzdv.bkt.clouddn.com/success.png" width="50">
                <div class="text">恭喜您，支付成功！</div>
                <div class="text">但由于您支付过少或仅为测试数据等原因，无法将您的数据加入至捐赠表，抱歉！</div>
            </div>
    </body>
</html>
