<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>支付失败</title>
        <meta name="description" content="XPay个人收款支付系统 无需签约 无需第三方SDK 完全免费">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .main{
                margin-top: 40px;
                text-align: center;
            }
            .text{
                margin-top: 10px;
            }
        </style>
    </head>

    <body>
        
            <div class="main">
                <img src="http://oweupqzdv.bkt.clouddn.com/fail.png" width="50">
                <div class="text">由于您支付不起或其他原因，您的订单支付失败</div>
            </div>
    </body>
</html>
